$PP_OFF
body {
  padding: 10px;
}

body, .watchList {
  font-family: arial, sans-serif;
  font-size: small;
}

.watchListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.watchListNumericColumn {
  text-align: right;
}

.watchListRemoveColumn {
  text-align: center;
}

.gwt-Button-remove {
  width: 30px;
}

.positiveChange {
  color: Green;
}

.negativeChange {
  color: Red;
}

.noChange {
  color: Black;
}

.addPanel {
  margin: 10px 0px 10px 0px;
}

.errorMessage {
  color: Red;
}